@import "tailwindcss";

/* :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
} */

/* body {
    display: flex;
    place-items: center;
} */

/* #root {
    margin: 0 auto;
    text-align: center;
} */

@theme {
    --animate-spinner-dash: spinner-dash 2s cubic-bezier(0.85, 0, 0.15, 1)
        infinite;
    --animate-spinner-fade-in: spinner-fade-in 1s cubic-bezier(0.85, 0, 0.15, 1)
        1;

    @keyframes spinner-dash {
        0% {
            stroke-dasharray: 1, 84.823;
            stroke-dashoffset: -1;
            stroke-width: 5;
        }
        50% {
            stroke-dasharray: 63.617, 21.206;
            stroke-dashoffset: -23.206;
            stroke-width: 2.5;
        }
        100% {
            stroke-dasharray: 1, 84.823;
            stroke-dashoffset: -86.823;
            stroke-width: 5;
        }
    }

    @keyframes spinner-fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@layer utilities {
    .animate-spinner {
        animation: spinner-dash 2s cubic-bezier(0.85, 0, 0.15, 1) infinite,
            spinner-fade-in 0.75s cubic-bezier(0.85, 0, 0.15, 1) 1;
    }
}
