@import "tailwindcss";

@theme {
    --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;

    @keyframes spinner-dash {
        0% {
            stroke-dasharray: 1, 84.823;
            stroke-dashoffset: -1;
            stroke-width: 5;
            animation-timing-function: cubic-bezier(1,0,.6,1);
        }
        50% {
            stroke-dasharray: 63.617, 21.206;
            stroke-dashoffset: -23.206;
            stroke-width: 2.5;
            animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
        }
        100% {
            stroke-dasharray: 1, 84.823;
            stroke-dashoffset: -86.823;
            stroke-width: 5;
            animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
        }
    }

    @keyframes spinner-fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@layer utilities {
    .animate-spinner {
        animation: -.25s spinner-dash 2s cubic-bezier(1,0,.6,1) infinite,
            spinner-fade-in 0.6s ease-in-out 1;
    }
}
