@import "tailwindcss";

/* :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
} */

/* body {
    display: flex;
    place-items: center;
} */

/* #root {
    margin: 0 auto;
    text-align: center;
} */
